<div class="page-header">
  <h1><%= @route.name %> <small></small></h1>
</div>

<div>
  <h3><%= t('.trains') %></h3>
  <% if @route.trains.empty? %>
    <%= t('common.not_set.trains') %>
  <% else %>
    <table>
    <% @route.trains.each do |train| %>
      <tr>
        <td><h4> № </h4></td>
        <td><h4> <%= link_to train.number, edit_admin_train_path(train) %></h4></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>

<div>
  <h3><%= t('admin.railway_stations.index.title') %></h3>
  <% if @route.railway_stations.empty? %>
    <%= t('common.not_set.stations') %>
  <% else %>
    <table class="table table-striped">
    <thead>
      <th><%= t('admin.railway_stations.attributes.title') %></th>
      <th><%= t('admin.routes.attributes.position') %></th>
      <th><%= t('admin.routes.attributes.arrival_time') %></th>
      <th><%= t('admin.routes.attributes.departure_time') %></th>
    </thead>
    <% @route.railway_stations.ordered.each do |station| %>
      <tr>
        <div class="row">
          <div class="col-xs-2">
            <td><h5><%= link_to station.title, edit_admin_railway_station_path(station) %></h5></td>
          </div>
          <td>
            <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
              <%= hidden_field_tag :route_id, @route.id %>
              <div class="col-xs-3">
                <%= text_field_tag :position, station.position(@route), class: 'form-control' %>
              </div>
              <div class="col-xs-4">
                <%= submit_tag t('common.update'), class: "btn btn-success" %>
              </div>
            <% end %>
          </td>
          <td>
            <%= form_tag update_arrival_time_admin_railway_station_path(station), method: :patch do %>
              <%= hidden_field_tag :route_id, @route.id %>
              <div class="col-xs-4">
                <%= time_field_tag :arrival_time, station.arrival_time(@route).try(:strftime, "%H:%M"), class: 'form-control' %>
              </div>
              <div class="col-xs-4">
                <%= submit_tag t('common.update'), class: "btn btn-success" %>
              </div>
            <% end %>
          </td>
          <td>
            <%= form_tag update_departure_time_admin_railway_station_path(station), method: :patch do %>
              <%= hidden_field_tag :route_id, @route.id %>
              <div class="col-xs-4">
                <%= time_field_tag :departure_time, station.departure_time(@route).try(:strftime, "%H:%M"), class: 'form-control' %>
              </div>
              <div class="col-xs-4">
                <%= submit_tag t('common.update'), class: "btn btn-success" %>
              </div>
            <% end %>
          </td>
        </div>
      <tr>
    <% end %>
    </table>
  <% end %>
</div>

<br />
<hr>
<div class="row">
  <div class="col-md-2">
    <%= link_to t('common.edit') , edit_admin_route_path(@route), class: "btn btn-warning" %>
  </div>
  <div class="col-md-2">
    <%= link_to t('common.back'), admin_routes_path, class: "btn btn-primary" %>
  </div>
</div>
