<div class="page-header">
  <h1><%= @route.name %> <small></small></h1>
</div>

<div>
  <h3><%= t('.trains') %></h3>
  <% if @route.trains.empty? %>
    <%= t('common.not_set.trains') %>
  <% else %>
    <table>
    <% @route.trains.each do |train| %>
      <tr>
        <td> № </td>
        <td><%= link_to train.number, edit_admin_train_path(train) %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>

<div>
  <h3><%= t('admin.railway_stations.index.title') %></h3>
  <% if @route.railway_stations.empty? %>
    <%= t('common.not_set.stations') %>
  <% else %>
    <table class="table table-striped">
    <thead>
      <th><%= t('admin.railway_stations.attributes.title') %></th>
      <th><%= t('admin.routes.attributes.position') %></th>
      <th><%= t('admin.routes.attributes.arrival_time') %></th>
      <th><%= t('admin.routes.attributes.departure_time') %></th>
    </thead>
    <% @route.railway_stations.ordered.each do |station| %>
      <tr>
        <td><%= link_to station.title, edit_admin_railway_station_path(station) %></td>
        <td>
          <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= text_field_tag :position, station.position(@route), size: 3 %>
            <%= submit_tag t('common.update') %>
          <% end %>
        </td>
        <td>
          <%= form_tag update_arrival_time_admin_railway_station_path(station), method: :patch do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= time_field_tag :arrival_time, station.arrival_time(@route).try(:strftime, "%H:%M") %>
            <%= submit_tag t('common.update') %>
          <% end %>
        </td>
        <td>
          <%= form_tag update_departure_time_admin_railway_station_path(station), method: :patch do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= time_field_tag :departure_time, station.departure_time(@route).try(:strftime, "%H:%M") %>
            <%= submit_tag t('common.update') %>
          <% end %>
        </td>
      <tr>
    <% end %>
    </table>
  <% end %>
</div>

<br />
<hr>
<div>
  <%= link_to t('common.edit') , edit_admin_route_path(@route) %> |
  <%= link_to t('common.back'), admin_routes_path %>
</div>
