<div class="page-header">
  <h1><%= @route.name %> <small></small></h1>
</div>

<div>
  <h3>Поезда на маршруте:</h3>
  <% if @route.trains.empty? %>
    Поезда отсутствуют
  <% else %>
    <table>
    <% @route.trains.each do |train| %>
      <tr>
        <td> № </td>
        <td><%= link_to train.number, edit_admin_train_path(train) %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>

<div>
  <h3>Станции маршрута:</h3>
  <% if @route.railway_stations.empty? %>
    Станции не назначены
  <% else %>
    <table class="table table-striped">
    <thead>
      <th>Название станции</th>
      <th>Порядковый номер в маршруте</th>
      <th>Время прибытия</th>
      <th>Время отправления</th>
    </thead>
    <% @route.railway_stations.ordered.each do |station| %>
      <tr>
        <td><%= link_to station.title, edit_admin_railway_station_path(station) %></td>
        <td>
          <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= text_field_tag :position, station.position(@route), size: 3 %>
            <%= submit_tag 'Установить' %>
          <% end %>
        </td>
        <td>
          <%= form_tag update_arrival_time_admin_railway_station_path(station), method: :patch do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= time_field_tag :arrival_time, station.arrival_time(@route).try(:strftime, "%H:%M") %>
            <%= submit_tag 'Установить' %>
          <% end %>
        </td>
        <td>
          <%= form_tag update_departure_time_admin_railway_station_path(station), method: :patch do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= time_field_tag :departure_time, station.departure_time(@route).try(:strftime, "%H:%M") %>
            <%= submit_tag 'Установить' %>
          <% end %>
        </td>
      <tr>
    <% end %>
    </table>
  <% end %>
</div>

<br />
<hr>
<div>
  <%= link_to 'Редактировать', edit_admin_route_path(@route) %> |
  <%= link_to 'Назад', admin_routes_path %>
</div>
