<%= form_for(train) do |f| %>
  <%= render 'common/errors', resource: @train %>
  <div class="field">
    <%= f.label :number, "Номер:" %>
    <%= f.text_field :number %>
  </div>

  <div class="filed">
    <%= f.label :route, "Текущая станция:" %>
    <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>
  <br>
  <div class="filed">
    <%= f.label :route, "Маршрут:" %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "#{ @train.new_record? ? 'Создать' : 'Изменить'}"%>
  </div>
<% end %>
