<div>
  <p id="notice"><%= notice %></p>
</div>

<div>
  <h2>Поезд № <%= @train.number %></h2>
</div>

<div>
  <h3>Текущая станция:</h3>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    <p>Станция не назначена</p>
  <% end %>
</div>

<div>
  <h3>Поезд на маршруте:</h3>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    <p>Маршрут не назначен</p>
  <% end %>
</div>

<div>
  <h3>Вагоны:</h3>
  <% if @train.wagons.present? %>
    <table>
    <tr>
      <td><b>№</b></td>
      <td><b>Тип вагона</b></td>
    </tr>
      <% @train.wagons_order.each do |wagon| %>
        <tr>
          <td><%= link_to wagon.number, wagon_path(wagon) %></td>
          <td><%= link_to wagon.type.to_s, wagon_path(wagon) %></td>
          <td><%= link_to "Удалить", wagon_path(wagon), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>Вагоны не добавлены</p>
  <% end %>

  <%= link_to 'Добавить вагон', new_train_wagon_path(@train) %>
</div>

<div>
  <h3>Места:</h3>
  <table>
    <tr>
      <td><b>Тип вагонов</b></td>
      <td><b>Кол-во верхних мест</b></td>
      <td><b>Кол-во нижних мест</b></td>
      <td><b>Кол-во боковых верхних мест</b></td>
      <td><b>Кол-во боковых нижних мест</b></td>
      <td><b>Кол-во сидячих мест</b></td>
    </tr>
     <% if @train.wagons.present? %>
      <% Wagon::TYPES.each do |wagon_type, wagon_name| %>
        <tr>
          <td><b><%= wagon_name %>:</b>(<%= @train.wagons.where(type: wagon_type).size %> шт.)</td>
          <% Wagon::PLACES.each do |place_type, place_name| %>
          <td align="center">
            <%= @train.show_places(wagon_type, place_type) %>
          </td>
          <% end %>
        </tr>
      <% end %>
     <% end %>
  </table>
</div>
<br />
<hr>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
