<tr>
  <td><%= wagon_type.title %></td>
  <td><%= wagon_type.wagon_type %></td>
  <td><%= link_to 'Показать', wagon_type_path(wagon_type) %></td>
  <td><%= link_to 'Редактировать', edit_wagon_type_path(wagon_type) %></td>
  <td><%= link_to 'Удалить', wagon_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
