<div class="page-header">
  <h1><%= t('.title') %> <small><%= t('.header') %></small></h1>
</div>
<p>
  <table class="table table-striped">
    <thead>
      <th><%= t('.fio') %></th>
      <th><%= t('.email') %></th>
      <th><%= t('.passport') %></th>
      <th><%= t('.train') %></th>
      <th><%= t('.route') %></th>
      <th><%= t('.first_station') %></th>
      <th><%= t('.last_station') %></th>
      <th><%= t('.arrival_time') %></th>
      <th><%= t('.departure_time') %></th>
      <th colspan="2"></th>
    </thead>

    <tbody>
      <% current_user.tickets.each do |ticket| %>
      <tr align="center">
        <td><%= ticket.user_name %></td>
        <td><%= ticket.user.email %></td>
        <td><%= ticket.passport %></td>
        <td><%= ticket.train.number %></td>
        <td><%= ticket.train.route.name %></td>
        <td><%= ticket.train.route.railway_stations.first.title %></td>
        <td><%= ticket.train.route.railway_stations.last.title %></td>
        <td><%= ticket.train.route.railway_stations.first.arrival_time(ticket.train.route).try(:strftime, "%H:%M") %></td>
        <td><%= ticket.train.route.railway_stations.first.departure_time(ticket.train.route).try(:strftime, "%H:%M") %></td>
        <td><%= link_to t('common.show'), ticket %></td>
        <td><%= link_to t('common.delete'), ticket, method: :delete, data: { confirm: t('common.confirm') } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</p>

