<div class="page-header">
  <h1>Заказ <small>оформление</small></h1>
</div>
<div>
  <h2>Параметры заказа</h2>
  <table class="table table-striped">
    <thead>
      <th>Поезд №</th>
      <th>Маршрут</th>
      <th>Станция отправления</th>
      <th>Станция назначения</th>
    </thead>
    <tbody>
    <tr align="center">
      <td><%= @ticket.train.number %></td>
      <td><%= @ticket.train.route.name %></td>
      <td><%= @ticket.train.route.railway_stations.first.title %></td>
      <td><%= @ticket.train.route.railway_stations.last.title %></td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <h2>Данные пассажира</h2>
  <%= render 'form' %>
</div>

