<div class="page-header">
  <h1><%= t('.title') %> <small><%= t('.header') %></small></h1>
</div>
<div>
  <h2><%= t('.param') %></h2>
  <table class="table table-striped">
    <thead>
      <th><%= t('admin.trains.show.title') %></th>
      <th><%= t('admin.trains.attributes.route') %></th>
      <th><%= t('admin.tickets.attributes.first_station') %></th>
      <th><%= t('admin.tickets.attributes.last_station') %></th>
    </thead>
    <tbody>
    <tr align="center">
      <td><%= @ticket.train.number %></td>
      <td><%= @ticket.train.route.name %></td>
      <td><%= @ticket.train.route.railway_stations.first.title %></td>
      <td><%= @ticket.train.route.railway_stations.last.title %></td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <h2><%= t('.passenger') %></h2>
  <%= render 'form' %>
</div>

