<div class="page-header">
  <h1><%= t('.title') %> <small></small></h1>
</div>
<p>
  <table class="table table-striped">
    <thead>
      <th><%= t('tickets.index.fio') %></th>
      <th><%= t('tickets.index.email') %></th>
      <th><%= t('tickets.index.passport') %></th>
      <th><%= t('tickets.index.train') %></th>
      <th><%= t('tickets.index.route') %></th>
      <th><%= t('tickets.index.first_station') %></th>
      <th><%= t('tickets.index.last_station') %></th>
      <th><%= t('tickets.index.arrival_time') %></th>
      <th><%= t('tickets.index.departure_time') %></th>
    </thead>

    <tbody>
      <tr align="center">
        <td><%= @ticket.user_name %></td>
        <td><%= @ticket.user.email %></td>
        <td><%= @ticket.passport %></td>
        <td><%= @ticket.train.number %></td>
        <td><%= @ticket.train.route.name %></td>
        <td><%= @ticket.train.route.railway_stations.first.title %></td>
        <td><%= @ticket.train.route.railway_stations.last.title %></td>
        <td><%= @ticket.train.route.railway_stations.first.arrival_time(@ticket.train.route).try(:strftime, "%H:%M") %></td>
        <td><%= @ticket.train.route.railway_stations.first.departure_time(@ticket.train.route).try(:strftime, "%H:%M") %></td>
      </tr>
    </tbody>
  </table>
</p>

