<div class="page-header">
  <h1>Билет <small></small></h1>
</div>
<p>
  <table class="table table-striped">
    <thead>
      <th>ФИО</th>
      <th>Email</th>
      <th>Паспорт</th>
      <th>Номер поезда</th>
      <th>Маршрут</th>
      <th>Станция отправления</th>
      <th>Станция назначения</th>
      <th>Время отправления</th>
      <th>Время прибытия</th>
    </thead>

    <tbody>
      <tr align="center">
        <td><%= @ticket.user_name %></td>
        <td><%= @ticket.user.email %></td>
        <td><%= @ticket.passport %></td>
        <td><%= @ticket.train.number %></td>
        <td><%= @ticket.train.route.name %></td>
        <td><%= @ticket.train.route.railway_stations.first.title %></td>
        <td><%= @ticket.train.route.railway_stations.last.title %></td>
        <td><%= @ticket.train.route.railway_stations.first.arrival_time(@ticket.train.route).try(:strftime, "%H:%M") %></td>
        <td><%= @ticket.train.route.railway_stations.first.departure_time(@ticket.train.route).try(:strftime, "%H:%M") %></td>
      </tr>
    </tbody>
  </table>
</p>

