<div class="page-header">
  <h1><%= t('.title') %> <small></small></h1>
</div>

  <table class="table table-striped">
    <thead>
      <th><%= t('admin.tickets.attributes.fio')%></th>
      <th><%= t('admin.tickets.attributes.passport') %></th>
      <th><%= t('admin.trains.show.title') %></th>
      <th><%= t('admin.tickets.attributes.route') %></th>
      <th><%= t('admin.tickets.attributes.first_station') %></th>
      <th><%= t('admin.tickets.attributes.last_station') %></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
      <tr align="center">
        <td><h5><%= ticket.user_name %></h5></td>
        <td><h5><%= ticket.passport %></h5></td>
        <td><h5><%= ticket.train.number %></h5></td>
        <td><h5><%= ticket.train.route.name %></h5></td>
        <td><h5><%= ticket.train.route.railway_stations.first.title %></h5></td>
        <td><h5><%= ticket.train.route.railway_stations.last.title %></h5></td>
        <td><%= link_to t('common.show'), [:admin, ticket], class: "btn btn-info" %></td>
        <td><%= link_to t('common.edit'), edit_admin_ticket_path(ticket), class: "btn btn-warning" %></td>
        <td><%= link_to t('common.delete'), [:admin, ticket], class: "btn btn-danger", method: :delete, data: { confirm: t('common.confirm') } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
