<h2>Вход</h2>
<div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group col-md-4">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      <br />
      <br />
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
      <br />
      <br />
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
       <% end -%>
       <br />
      <br />
      <%= f.submit "Вход", class: "btn btn-primary"  %>
    <% end %>
    <br />
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>
