<% if @error !="" %>
  <div>
    <font color="red"><b><%= @error %></b></font>
  </div>
<% end %>
<div>
<h1>Поиск билетов</h1>

  <%= form_for search_path, method: :post do%>
    <label>Начальная станция:</label>
    <%= select_tag :first_station_id, options_from_collection_for_select(RailwayStation.all, :id, :title, params[:first_station_id]) %>
    <br /><br />
    <label>Конечная станция:</label>
    <%= select_tag :last_station_id, options_from_collection_for_select(RailwayStation.all, :id, :title, params[:last_station_id]) %>
    <br /><br />
    <%= submit_tag 'Поиск' %>
  <% end %>
</div>
<hr>
<div>
  <% if @trains.present? %>
    <h2>Список поездов</h2>
    <table class="table table-striped">
      <thead>
        <th>Номер</th>
        <th>Маршрут</th>
        <th>Время отправления</th>
        <th>Время прибытия</th>
        <th></th>
      </thead>

      <tbody>
        <% @trains.each do |train| %>
          <tr>
            <%= form_tag order_tickets_path do %>
              <td> <%= train.number %> </td>
              <%= hidden_field_tag :train_id, train.id %>
              <td> <%= train.route.name %> </td>
              <td> <%= train.route.railway_stations.first.departure_time(train.route).try(:strftime, "%H:%M") %> </td>
              <%= hidden_field_tag :first_station_id, train.route.railway_stations.first.id %>
              <td> <%= train.route.railway_stations.first.arrival_time(train.route).try(:strftime, "%H:%M") %> </td>
              <%= hidden_field_tag :last_station_id, train.route.railway_stations.last.id %>
              <td><%= submit_tag 'Купить' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      По данному направлению билетов не найдено!
  <% end %>
</div>
