<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @wagon.number %>
</p>
<p>
  <strong>Добавлен к поезду:</strong>
    <%= @wagon.train.number %>
</p>

<p>
  <strong>Тип вагона:</strong>
  <%= @wagon.wagon_type.wagon_type %>
</p>

<p>
  <strong>Кол-во нижних мест:</strong>
  <%= @wagon.lower_places %>
</p>

<p>
  <strong>Кол-во верхних мест:</strong>
  <%= @wagon.top_places %>
</p>

<%= link_to 'Редактировать', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>
