<div class="page-header">
  <h1><%= t('.title') %> <%= @train.number %> <small></small></h1>
</div>
<div>
  <h3><%= t('admin.trains.attributes.current_station') %></h3>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    <p><%= t('common.not_set.station') %></p>
  <% end %>
</div>

<div>
  <h3><%= t('admin.trains.attributes.route') %></h3>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    <p><%= t('common.not_set.route') %></p>
  <% end %>
</div>

<div>
  <h3><%= t('.wagons') %></h3>
  <% if @train.wagons.present? %>
    <table class="table table-striped">
    <thead>
      <th>№</th>
      <th><%= t('admin.wagons.attributes.type') %></th>
    </thead>
      <% @train.wagons_order.each do |wagon| %>
        <tr>
          <td><%= link_to wagon.number, admin_wagon_path(wagon) %></td>
          <td><%= link_to wagon.type.to_s, admin_wagon_path(wagon) %></td>
          <td><%= link_to t('common.delete'), admin_wagon_path(wagon), method: :delete, data: { confirm: t('common.confirm') } %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p><%= t('common.not_set.wagon') %></p>
  <% end %>

  <%= link_to t('common.add'), new_admin_train_wagon_path(@train), class: "btn btn-primary" %>
</div>

<div>
  <h3><%= t('admin.wagons.show.places') %></h3>
  <table class="table table-striped">
    <tr>
      <th><%= t('admin.wagons.attributes.type') %></th>
      <th><%= t('admin.wagons.count.top_places') %></th>
      <th><%= t('admin.wagons.count.lower_places') %></th></th>
      <th><%= t('admin.wagons.count.side_top_places') %></th></th>
      <th><%= t('admin.wagons.count.side_lower_places') %></th></th>
      <th><%= t('admin.wagons.count.seats') %></th></th>
    </tr>
     <% if @train.wagons.present? %>
      <% WagonType.all.each do |wagon| %>
        <tr>
          <td><b><%= wagon.title %>:</b>(<%= @train.wagons.where(type: wagon.wagon_type).size %> шт.)</td>
          <% Wagon::PLACES.each do |place_type, place_name| %>
          <td align="center">
            <%= @train.show_places(wagon.wagon_type, place_type) %>
          </td>
          <% end %>
        </tr>
      <% end %>
     <% end %>
  </table>
</div>
<hr>

<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
