<h1>Список пользователей</h1>

<table class="table table-striped">
  <thead>
    <th>Индекс</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Email</th>
    <th>Редактировать</th>
    <th>Удалить</th>
  </thead>
  <% @users.each_with_index do |user, i| %>
    <tr>
      <td><%= i %></td>
      <td><%= user.name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Редактировать', edit_admin_user_path(user) %></td>
      <td><%= link_to 'Удалить', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>
</table>
