<%= form_for [:admin, wagon_type] do |f| %>
  <%= render 'common/errors', resource: @wagon_type %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br /><br />
    <%= f.label :wagon_type %>
    <%= f.text_field :wagon_type %>
  </div>

  <div>
    <%= f.submit t('.submit', action: @wagon_type.new_record? ? 'Создать' : 'Изменить'), class: 'btn btn-primary' %>
  </div>
<% end %>
