<!DOCTYPE html>
<html>
  <head>
    <title>TuTu - <%= t('admin.nav.title') %></title>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-bottom: 70px; padding-top: 10px">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top container">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href=<%= admin_panel_url %>><b>Админ-панель</b></a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to t('admin.nav.site'), root_path %></li>
              <li><%= link_to t('admin.nav.admin'), admin_panel_path %></li>
              <li><%= link_to t('admin.nav.stations'), admin_railway_stations_path %></li>
              <li><%= link_to t('admin.nav.trains'), admin_trains_path %></li>
              <li><%= link_to t('admin.nav.routes'), admin_routes_path %></li>
              <li><%= link_to t('admin.nav.wagon_types'), admin_wagon_types_path %></li>
              <li><%= link_to t('admin.nav.tickets'), admin_tickets_path %></li>
              <li><%= link_to t('admin.nav.users'), admin_users_path %></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li>
                <% if user_signed_in? %>
                  <ul class="nav navbar-nav">
                    <li><%= link_to current_user.email, edit_user_registration_path %></li>
                    <li><%= link_to t('admin.nav.exit'), destroy_user_session_path, method: :delete %></li>
                  </ul>
                <% else %>
                  <%= link_to t('admin.nav.enter'), new_user_session_path %>
                <% end %>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div>
        <% if notice.present? %>
          <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>
        <% if alert.present? %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>
        <%= yield %>
      </div>

      <div class="navbar-header">
        <nav class="navbar navbar-inverse navbar-fixed-bottom container">
          <div class="container" style="text-align: center;">
            <p class="navbar-text" style="width: 100%; text-align: center;">
            <font color="e7e7e7">&copy; 2016 <a href='http://buryka.ru/' target='_blank' class="footer"><font color="e7e7e7">Anton Buryka</font></a>. Учебный проект в <a href='http://thinknetica.com' target='_blank' class="footer"><font color="e7e7e7">онлайн-школе Thinknetica.</font></a></font>
            </p>
          </div>
        </nav>
      </div>

    </div>
  </body>
</html>
