<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site"
    <div class="header">
      <table border="0" cellpadding="5px", cellspacing="0px">
        <tr>
          <td>
            <%= link_to 'Главная', root_path %>
          </td>
          <td>|</td>
          <td>
            <%= link_to 'Станции', railway_stations_path %>
          </td>
          <td>|</td>
          <td>
            <%= link_to 'Поезда', trains_path %>
          </td>
          <td>|</td>
          <td>
            <%= link_to 'Маршруты', routes_path %>
          </td>
        </tr>
      </table>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">

        (c) 2016 <a href='http://buryka.ru/' target='_blank'>Anton Buryka</a>. Учебный проект в <a href='http://thinknetica.com' target='_blank'>онлайн-школе Thinknetica.</a>

    </div>
    </div>
  </body>
</html>
